
           <div class="container  mt-2">					
               <div class="section-title text-center">
                   <h1>Choisir le type de compte</h1><br><br><br><br>
                   
                </div>		
                <div class="pricing-content section-padding">
                    
                    <div class="row text-center">									
                        
                        
                        <div class="row text-center">									
                            <div class="col-lg-4 col-sm-3  wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
                            <div class="single-pricing">
                                <div class="price-head">								
                                    <h2>Jobbeur</h2>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                
                                
                                <br><br>
                                <a (click)="sinscrire2()"><b>S'inscrire</b></a>
                            </div>
                        </div><!--- END COL -->	
                        <div class="col-lg-4 col-sm-3  wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
                            <div class="single-pricing">
                                <div class="price-head">								
                                    <h2>Client</h2>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                                
                               
                             <br><br>
                             <a (click)="sinscrire1()"><b>S'inscrire</b></a>
                            </div>
                        </div><!--- END COL -->	
                        
                    </div><!--- END CONTAINER -->
                    
                </div></div>
                <br><br>  <br><br>
                <br>
                