.contact{
    margin-right: 30px;
    background: #2d6891;
    background-size: cover;
    width:100%;
    height:8vh;

}


   .contact p{
       text-align:center;
   
       margin-left: 50px;
       font-size : 2;
       color: #CAE6F1;
       font-family: 'Roboto', sans-serif;
       line-height: 1.2;}