<div class="container mt-2">
    <div class="main">
<h5>Conditions générales d’utilisation du site internet</h5>
<h1>1)Introduction</h1>
<p>Les présentes Conditions Générales d’Utilisation exposent les modalités d’accès et d’utilisation du site internet 5ademni.tn.</p>
<p> Les Conditions Générales d’Utilisation ont pour objet de définir les modalités et conditions dans lesquelles l’Utilisateur est autorisé à utiliser le Site.</p><p> Elles prévalent sur tout autre document qui aurait pu être communiqué à la Société.</p>
<h1>2)Objet</h1>
<p>Le site et la plateforme internet 5ademni.tn sont accessibles à l’adresse suivante www.5ademni.tn , offre un service de mise en relation des d’Utilisateurs.</p>

 <p>Le Site permet au Posteur ayant un Besoin de le publier dans le but qu’un Jobber y réponde.</p>
    
<p> Les Conditions Générales d’Utilisation ont pour objet de définir les modalités et conditions dans lesquelles l’Utilisateur est autorisé à utiliser le Site. Elles prévalent sur tout autre document qui aurait pu être communiqué à la Société.</p>

<h1>3)Obligations 5ademni.tn</h1>
<p>La Plateforme s'engage à fournir à l'Utilisateur le Service lui permettant d'entrer en contact, via la Plateforme, avec d'autres Utilisateurs en vue de conclure éventuellement avec eux un Accord ayant pour objet la fourniture d'une Prestation.

   </p><p> Le rôle de Plateforme est donc UNIQUEMENT un rôle de mise en relation des Utilisateurs, via la Plateforme.</p>
    
  <p>  Ainsi, il est précisé que Plateforme est un tiers à l'Accord qui pourrait être conclu entre un Prestataire et un Client, Plateforme leur fournissant uniquement les moyens de se mettre en relation et éventuellement de conclure un Accord.
    
  </p><p>  Par conséquent, Plateforme ne peut en aucun cas garantir ni l'exécution ni la qualité de la Prestation qui serait fournie par un Jobber à un Posteur.</p>

<h1>4)Inscription sur le site</h1>
  <h2>A-Acceptation des Conditions Générales</h2>
<p>L'utilisateur s'engage, préalablement à son inscription sur la Plateforme, à prendre connaissance et à accepter les présentes Conditions générales. </p><p>L'inscription sur la Plateforme vaut acceptation des présentes Conditions d'utilisation.
</p>
<h2>B-Création d’un Compte Utilisateur</h2>
<p>Pour utiliser la Plateforme, l'Utilisateur s'y inscrit en créant un Compte utilisateur en renseignant son nom et une adresse de courrier électronique valide.</p>

  <p>La Plateforme lui adressera ensuite, par courrier électronique, un lien permettant à l'Utilisateur de valider son Profil sur la Plateforme. L'Utilisateur aura, à tout moment, la possibilité de modifier ce mot de passe, sur la Plateforme.</p>  
    
   <p> Ces identifiants (pseudo et mot de passe) sont personnels et l'Utilisateur s'engage à les garder confidentiels.</p>
    
   <p> En cas de perte de mot de passe, l'Utilisateur sera invité à renseigner son adresse e-mail afin de recevoir le lien pour générer son nouveau mot de passe.</p>
    
  <p>  L'utilisateur s’engage à fournir des informations complètes et exactes.</p> <p>L’ensemble des informations recueillies par la Plateforme est nécessaire à l’inscription de l’Utilisateur sur le Site.</p>
    
<p>   Inexactitude pourra entraîner la suspension.</p> 
<h1>5)Contact et mise en relation entre les utilisateurs</h1>
<h2>A-Principes généraux</h2>
<p>Le Posteur détermine le contenu de chaque Besoin qu’il publie sur le Site.
 
    Aussi, il s'engage à ce que ces besoins respectent les Conditions Générales d’Utilisation ainsi que la réglementation applicable et en particulier qu'elle ne porte pas atteinte aux droits des tiers.</p>
<h2>B-Obligation du Posteur</h2>
<p>Le Posteur s’engage à ne mettre en ligne sur le Plateforme que des Besoins sérieux correspondant à des Missions effectives et réalisables.
    Les besoins publiés par le Posteur devront préciser un minimum les informations suivantes :</p>
    <p>- La catégorie dans laquelle le Besoin sera publié</p>
    <p>- La description la plus claire et précise de la mission recherchée</p>
   <p> - Le délai dans lequel il souhaite que la Mission soit réalisée (avant une date précise)</p>
    <p>- La ville où se situe la réalisation de la mission</p>
    <p>- Le tarif de la mission en dinar</p>
 
<p> Lorsque le Posteur sélectionne un Jobber pour effectuer la Mission et que le paiement a été validé par le service de paiement de la Plateforme, cette information apparaît sur le Besoin, les autres Jobbers ne pouvant alors plus y postuler.</p>
    <h2>C-Obligation du Jobber</h2>
<p>  Il est rappelé que dans la mesure où la Plateforme n'effectue aucune vérification systématique et a priori de l'ensemble des contenus mis en ligne et qu'elle n'est pas partie à l'Accord conclu entre les Utilisateurs, sa responsabilité ne peut en aucun cas être recherchée en cas de non- respect par le Prestataire de son obligation d'information et plus généralement de la réglementation applicable suppression, du Compte Utilisateur. </p>
<h1>6)Réclamation et litige</h1>
<p>L'Utilisateur s'engage à adresser à 5ademni.tn toute réclamation concernant l'exécution d'un Accord conclu avec un autre Utilisateur via la Plateforme.</p>
    <p>Dans l'hypothèse où la Prestation n'est pas fournie, c'est-à-dire que le Prestataire n'a pas confirmé avoir réalisé la Prestation.</p>
   <p> En cas d'absence de fourniture de la Prestation, un avertissement sera mentionné sur le Profil du Prestataire indiquant le non-respect de ses engagements envers le Client.</p>
   <p> En cas de litige entre un Client et un Prestataire, notamment dans l'hypothèse où la Prestation n'est fournie que partiellement ou que la qualité de la Prestation fait défaut, les Utilisateurs s'engagent à se rapprocher de 5ademni.tn afin de trouver une issue amiable.</p>
   <p> Toutefois, la responsabilité de la plateforme ne sera pas engagée ne saurait être engagée à ce titre en cas d’absence de non-paiement du Posteur pour la réalisation d’une Prestation .</p>
 <p>   5ademni.tn ne peut être tenue responsable en cas de défaut de paiement du solde par le Client.</p> <p>Le cas échéant, il appartient au Prestataire d'entreprendre les démarches nécessaires afin d'obtenir le paiement du prix qui lui est dû.</p>
 <h1>7)Assistance technique</h1>
<p>En cas de difficultés techniques lors de l'utilisation du Service, l'Utilisateur peut contacter 5ademni.tn par courrier électronique à l'adresse support@5ademni.tn .</p>
<h1>8)Suspension du compte utilisateur</h1>
<h2>A-Conditions de suspension du Compte Utilisateur</h2>
<p>La plateforme peut suspendre le Compte Utilisateur d'un Utilisateur dans les hypothèses suivantes :</p>
<p>
    En cas de manquement de l'Utilisateur à l'une de ses obligations visées au sein du Contrat. </p>
    <p>Le cas échéant, le Compte Utilisateur sera suspendu jusqu'à ce que l'Utilisateur ait remédié au manquement concerné, Après un deuxième avertissement pour abandon d'un Accord conclu avec un Utilisateur via la Plateforme. </p>
<h2>B-Conséquences de la suspension du Compte Utilisateur </h2>
<p>En cas de suspension du Compte Utilisateur, l'Utilisateur ne pourra plus utiliser la Plateforme, et ce jusqu'à ce qu'il ait remédié au manquement invoqué ou jusqu'à l'expiration de la période de sanction faisant suite à un deuxième avertissement.</p>

<h1>9)Résiliation du contrat conclu entre 5ademni.tn et l’utilisateur</h1>
<h2>A-Résiliation à l'initiative d'un Utilisateur</h2>
<p>Un Utilisateur peut résilier le Contrat conclu avec la Plateforme à tout moment en se désinscrivant de la Plateforme et en fermant son Compte Utilisateur.</p>
<h2>B-Résiliation à l'initiative de 5ademni.tn</h2>
<p>En cas de manquement d'un Utilisateur aux obligations qui lui incombent en vertu du présent Contrat, 5ademni.tn peut lui adresser, par courrier électronique, une mise en demeure d'y remédier. 
    </p><p>Si à l'issue d'un délai de 15 jours à compter de la date d'émission de cette mise en demeure, l'Utilisateur ne s'est pas conformé à ses obligations, alors 5ademni.tn peut résilier de plein droit le Contrat par l'envoi d'un second courrier électronique.
 
  </p><p> Toutefois, dans le cas où la nature des engagements non respectés rendrait impossible la poursuite du Contrat, 5ademni.tn pourra résilier le Contrat de plein droit immédiatement après la constatation du manquement, par envoi d'un courrier électronique.
    
    </p></div></div>
    <br><br><br>