<div class="main4 mt-3 text-center">
    <h2 >Découvrez nos services!</h2>
    
    <br> <div class="next1"><br><br>
    <p >Garde d'enfants</p>
   <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
   
          <img src="assets/image/nounou.PNG" class="img-fluid" alt=""  class="d-block"  width="240" height="120"><br>
         <a >Nounou</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
   
          <img src="assets/image/baby-sitter.PNG" class="img-fluid" alt=""  class="d-block"   width="240" height="120"><br>
          <a >Baby-sitter</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
         
          <img src="assets/image/soutien-scolaire.PNG" class="img-fluid" alt="" class="d-block"   width="240" height="120"><br>
          <a >Soutien-scolaire</a>
        </div></div>
      </div><br> <br><br> 
    </div> 
    <div class="next2"><br><br>
    <p >Aide a domicile pour les personnes agees</p>
   <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
   
          <img src="assets/image/menage.PNG" class="img-fluid" alt=""  class="d-block"  width="240" height="120"><br>
         <a >Aide ménagère</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
   
          <img src="assets/image/accomp.PNG" class="img-fluid" alt=""  class="d-block"   width="250" height="120"><br>
          <a>Accompagnement </a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
         
          <img src="assets/image/repas.PNG" class="img-fluid" alt="" class="d-block"   width="240" height="120"><br>
          <a>À la prise des médicaments</a>
        </div></div>
      </div><br><br><br>
    </div>
    <div class="next1"><br><br>
    <p >Brcolage-petits travaux</p>
    
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
    
            <img src="assets/image/peintureunmur.jpeg" class="img-fluid" alt=""  class="d-block"  width="240" height="120"><br>
           <a>Peinture des murs</a>
          </div>
        </div>
      </div>
      
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
    
            <img src="assets/image/installerunesuspension.jpg" class="img-fluid" alt=""  class="d-block"   width="240" height="120"><br>
            <a>Électricité</a>
          </div>
        </div>
      </div>
    
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
           
            <img src="assets/image/czrton.PNG" class="img-fluid" alt="" class="d-block"   width="240" height="120"><br>
            <a>Déménagement</a>
          </div></div>
        </div>
      </div>
   </div></div></div></div>