<section id="contact">
    <div class="container mt-2">
        <h1>Contact !</h1>
        
        <div class="row" >
        
            <div class="col-md-6">
          
          
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d6386.356537520878!2d10.323196400000002!3d36.8382064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2stn!4v1645804158278!5m2!1sfr!2stn" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </div>
        
   
            <!--maps-->
        
  
        <div class="col-md-5">
           
          <form [formGroup]="contactForm">
            <div class="form-group">
               Votre nom:
              <input type="text" class="form-control" name="" value="" placeholder="Nom" formControlName="name" [ngClass]="{'form-invalid':contactForm.controls['name'].touched && contactForm.controls['name'].errors?.['required'] || invalid,'form-valid':contactForm.controls['name'].touched && !contactForm.controls['name'].errors?.['required']}"><br>
            </div>
            <div class="form-group">
               Votre Email:
              <input type="email" class="form-control" name="" value="" placeholder="E-mail" formControlName="email" [ngClass]="{'form-invalid':contactForm.controls['email'].touched && contactForm.controls['email'].errors?.['required'] || invalid,'form-valid':contactForm.controls['email'].touched && !contactForm.controls['email'].errors?.['required']}"><br>
            </div>
            <div class="form-group">
             Votre telephone:
              <input type="tel" class="form-control" name="" value="" placeholder="Telephone" formControlName="phone" [ngClass]="{'form-invalid':contactForm.controls['phone'].touched && contactForm.controls['phone'].errors?.['required'] || invalid,'form-valid':contactForm.controls['phone'].touched && !contactForm.controls['phone'].errors?.['required']}"><br>
            </div>
            <div class="form-group">
           Votre message:
              <textarea class="form-control" name="" rows="3" placeholder="Message" formControlName="message" [ngClass]="{'form-invalid':contactForm.controls['message'].touched && contactForm.controls['message'].errors?.['required'] || invalid,'form-valid':contactForm.controls['message'].touched && !contactForm.controls['message'].errors?.['required']}"></textarea>
            </div>
            <button class="btn btn" type="submit" name="button" (click)="submit()">
                <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Envoyer
            </button>
          </form>
      <br><br>  
    </div>
