
<div class="form-bg">
    <div class="container mt-2">
        <br><br><br>
        <div class="row">
            <div class="col-md-offset-3 col-md-3"></div>
            <div class="col-md-offset-3 col-md-5">
                
                  </div>
                <div class="form-container">
                    <h3 class="title">Mot de passe oublié </h3>
                           
                    <i class="fa fa-key" aria-hidden="true"></i>

                       
                    <p>Entrez l’e-mail associé à votre compte pour recevoir le lien de réinitialisation de votre mot de passe.</p>          
                  
                
              

                   
                   <form class="form-horizontal">
                    <div class="form-group">

                    
                        <input type="text" name="email" placeholder="Email" class="form-control"
                             />

                    </div>

                    <!--display error-->


                    <br>
                    <div class="form-group">
                       

                    </div>

                    <p></p>
                    <br><br>
                    <button class="btn signup" >Envoyer </button>


           



                </form>
            </div>
        </div>
    </div>

    <br>
</div><br><br><br>
