<div class="form-bg"><br><br><br><br>
  <div class="container mt-2">


    <div class="row">
      <div class="col-md-offset-3 col-md-3"></div>
      <div class="col-md-offset-3 col-md-6">
        <div class="form-container">



          <form class="form-horizontal">

            <div class="form-group">
              <label><i class="fa fa-envelope-o" aria-hidden="true"></i> Email</label>
              <input type="email" class="form-control" placeholder="Email">
            </div> <br>
            <div class="form-group">
              <label><i class="fa fa-unlock-alt" aria-hidden="true"></i> Mot de passe</label>
              <input type="password" class="form-control" placeholder="Mot de passe">
            </div><br>

            <div class="form-group">
              <label><i class="fa fa-credit-card" aria-hidden="true"></i> N° Carte</label>
              <input type="text" class="form-control" placeholder="N° Carte"><
            </div>



            
            <button class="btn signup">Payer</button>
          </form>
        </div>
      </div>
    </div>

  </div><br><br><br><br><br><br>
</div>