
.fa{
    margin-left: 625px;
    color: #CAE6F1; 
    font-size:3rem;
  }
    
  .form-container{
    background-color: rgb(241, 237, 237);
    font-family: 'Titillium Web', sans-serif;
    font-size: 0;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 25px -15px rgba(0, 0, 0, 0.3);
    
  }
  .main h3{
    color: #30709C;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 20px;
  
  }
  .form-container .sub-title{
    color: #30709C;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 20px;
  }

  .form-invalid{
    border-color: #ED4337  !important;
}
.form-valid{
    border-color:#23DC3D !important;
}

  .form-container .form-horizontal{ font-size: 0; }
  .form-container .form-horizontal .form-group{
    color: #333;
    width: 50%;
    padding: 0 8px;
    margin: 0 0 15px;
    display: inline-block;
  }
  .form-container .form-horizontal .form-group:nth-child(4){ margin-bottom: 30px; }
  .form-container .form-horizontal .form-group label{
    font-size: 16px;
    font-weight: 600;
    
  }
  .form-container .form-horizontal .form-control{
    color: #888;
    background: #fff;
    font-weight: 400;
    letter-spacing: 1px;
    height: 50px;
    width: 209%;
    padding: 6px 12px;
    border-radius: 10px;
    border: 2px solid #e7e7e7;
    box-shadow: none;
   
  }
  
  
  
  .form-container .signin-link a{
    color: #83bbce;
    font-weight: 605;
    transition: all 0.3s ease 0s;
  }
  .form-container .signin-link a:hover{ text-decoration: underline; }
  .form-container .form-horizontal .signup{
    color: #CAE6F1;
    background: #30709C;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: 'lobster', Cursive ;
    letter-spacing: 1px;
    width: 160px;
    padding: 8px 15px 9px;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    margin-left: 200px;
  }
  .form-container .form-horizontal .btn:hover,
  .form-container .form-horizontal .btn:focus{
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    box-shadow: 3px 3px rgba(0,0,0,0.15),5px 5px rgba(0,0,0,0.1);
    outline: none;
  }
  @media only screen and (max-width:479px){
    .form-container .form-horizontal .form-group{ width: 100%; }
  
    .form-container .signin-link{
        width: 100%;
        margin: 0 10px 15px;
    }}
    .input-group-text {
      display: flex;
      align-items: center;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 50;
      line-height: 1.5;
      color: #212529;
      text-align: center;
      white-space: nowrap;
      background-color: #e9ecef;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
    
      width:20px;
  }    
