<h3 class="fs-4 mb-3">Postulations</h3>
<table class="table  rounded1 shadow-sm  table-hover">
    <thead>
        <tr>
            <th scope="col">Photo</th>
            <th scope="col">nom</th>
            <th scope="col">prenom</th>
            <th scope="col">fonction</th>
            <th scope="col">Postulation</th>
       
        </tr>
    </thead>
    
    <tbody>
        
        <tr>
            <td><img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" width="100" class="user-img "></td>
            <td>Jack</td>
            <td>Wachenton</td>
            <td>Web Developer</td>
            <td>development of an ecommerce web site</td>
            <td><button class="button"><i class="fa-solid fa-check icon"></i></button>
                <button class="button"><i class="fa-solid fa-eye icon"></i></button></td> 
        </tr>
        <tr>
            <td><img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" width="100" class="user-img "></td>
            <td>Matelda</td>
            <td>Smith</td>
            <td>Web Developer</td>
            <td>development of an ecommerce web site</td>
            <td><button class="button"><i class="fa-solid fa-check icon"></i></button>
                <button class="button"><i class="fa-solid fa-eye icon"></i></button></td>  
        </tr>
        <tr>
            <td><img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" width="100" class="user-img "></td>
            <td>Matelda</td>
            <td>Smith</td>
            <td>Web Developer</td>
            <td>development of an ecommerce web site</td>
            <td><button class="button"><i class="fa-solid fa-check icon"></i></button>
                <button class="button"><i class="fa-solid fa-eye icon"></i></button></td>  
        </tr>
    </tbody>
</table>