


<div class="container mt-5">
 <h4>Mes Notes</h4>




<br>




<!--1-->
    <div class="card">
        <div class="row">
            <div class="col "> <br> 
                <img  src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
            </div>
            <div class="col mt-4">
                
                <h2 class="mt-2 mb-0">Nour eddine Ben Ali</h2>
                <div>
                    <h1>Tfata9! </h1> 
                    <p> <span class="fa fa-star star-active ml-3"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-active"></span> <span class="fa fa-star star-inactive"></span></p>
                
                </div></div>
           </div></div> <br>
           <!--fin 1-->
    <!--2-->       
    <div class="card">
        <div class="row">
            <div class="col "> <br> 
                <img  src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
            </div>
            <div class="col mt-4">
                
                <h2 class="mt-2 mb-0">Radhia ayachi</h2>
                <div>
                    <h1>T'habbel!</h1> 
                    <p><span class="fa fa-star star-active"></span> <span class="fa fa-star star-inactive"></span><span class="fa fa-star star-active"></span> <span class="fa fa-star star-inactive"></span></p>
                
                </div></div>
           </div></div><br>
        <!--fin 2 -->

            <!--3-->       
    <div class="card">
        <div class="row">
            <div class="col "> <br> 
                <img  src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
            </div>
            <div class="col mt-4">
                
                <h2 class="mt-2 mb-0">Aymen Ben Ali</h2>
                <div>
                    <h1>Bien! </h1> 
                    <p><span class="fa fa-star star-active"></span> <span class="fa fa-star star-inactive"> </span> <span class="fa fa-star star-inactive"></span> </p>
                
                </div></div>
           </div></div> <br>
        <!--fin 3 -->

            <!--4-->       
    <div class="card">
        <div class="row">
            <div class="col "> <br> 
                <img  src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
            </div>
            <div class="col mt-4">
                
                <h2 class="mt-2 mb-0">Mohamed Ben Ali</h2>
                <div>
                    <h1>Hakkeka ... </h1> 
                    <p><span class="fa fa-star star-active"></span> <span class="fa fa-star star-inactive"></span></p>
                
                </div></div>
           </div></div> <br>
        <!--fin 4 -->
            <!--5-->       
    <div class="card">
        <div class="row">
            <div class="col "> <br> 
                <img  src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
            </div>
            <div class="col mt-4">
                
                <h2 class="mt-2 mb-0">Nizar Ben Ali</h2>
                <div>
                    <h1>Jemla! </h1> 
                    <p><span class="fa fa-star star-active"></span></p>
                
                </div></div>
           </div></div>
        <!--fin 5 -->
        
        
        
        </div>
           
            <br><br><br><br><br><br>  <br><br><br><br><br><br>   <br><br><br><br><br><br>   <br><br><br> <br><br> <br><br><br><br><br><br>   <br><br><br><br><br><br>   <br><br><br> <br><br>