<section class="main bg-light">
    <div class="container">
      <div class="row ">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <br><br><br> 
            <h1>   Trouvez le prestataire idéal pour tous  </h1>
            <h1>vos services</h1>
    </div></div></div>
    <div class="col-md-2"></div>
</section><br>

<div class="main4 mt-3 text-center">
  <h2 >Découvrez nos services!</h2>
  
  <br> <div class="next1"><br>


 <br><br><br> <br><br> <br><br> 
 
     
     </div> <br><br> 
    <button class="btn7" type="submit"(click)="categorie()">Voir tous les services?</button> <br><br> <br>
  </div>

<section class="main1 bg-light">
 <div class="container">
     <div class="row ">
         <div class="col-md-6"></div>
         <div class="col-md-6">
           <br>
             <h1>Vous recherchez un service ?</h1> 
             <p>Postez gratuitement votre demande auprès des particuliers</p>
             <p>et professionnels proches de chez vous !</p> <br>
             <p >  <button class=btn1   role="button" (click)="annonce()">Je poste une annonce</button></p><br>
             <h1>Vous recherchez un job?</h1>
             <p>Inscrivez-vous </p>
             <p> et répondez aux demandes près de chez vous !</p> <br>
             <p>  <button class=btn2   role="button" (click)="job()">Je cherche un job </button></p>

            </div>
     </div>
 </div>
</section>



 <section class="next3 py-5">
     <h1>Nos packs</h1><br><br>
 <div class="row">
   <div class="col-sm-3">
     <div class="cardd">
       <div class="card-body">

       </div>
     </div>
   </div>
   <div class="col-sm-3">
     <div class="card">
       <div class="card-body">
         <h2 class="card-title"><i class="fa fa-check-circle" aria-hidden="true"></i>
          Pack Jobbeur +</h2><br>
         <h5 class="card-title">Augmentez votre chance</h5><h5> de trouver et de remporter plus de jobs grâce au pack JOBBER + </h5><br><br><br><br>
         <h5>Soit 9,900 DT </h5>
       
         <a  class="btn btn4" (click)="packs()">En savoir plus...</a>
       </div>
     </div>
   </div>
   <div class="col-sm-3">
     <div class="card">
       <div class="card-body">
         <h2 class="card-title"><i class="fa fa-check-circle" aria-hidden="true"></i>
          Pack Client +</h2><br>
         <h5 class="card-title">Plus de prise de tête. </h5>
         <h5>Trouver le meilleur jobber pour réaliser toutes vos tâches du quotidien grâce au pack CLIENT + </h5><br><br><br>
         <h5>Soit 4,900 DT</h5>
     
         <a  class="btn btn4" (click)="packs()">En savoir plus...</a>
       </div>
     </div>
   </div>
 </div>
 </section>
 <!--oo-->

 
<section class="main2 bg-light">
 <div class="container">
     <div class="row ">
       
         <div class="col-md-6">
           
             <h1>Nos avantages</h1> <br><br>
             <p><b>Faire du jobbing grâce aux offres d’emploi sur 5ademni.tn apporte un complément de revenu qui finance de nombreux projets et loisirs.</b></p>
              <br> <p><b>C’est aussi un moyen simple de profiter des services fiables,économiques et de proximité dans toutes les villes de Tunisie .</b></p> 
                <br> <p><b>Grâce aux offres d’emploi sur 5ademni.tn, chacun y trouve son compte, dans une ambiance conviviale !</b></p> 
                    <p><b>Notez que notre site de jobbing est sécurisé et protège toutes vos données personnelles.</b></p> 
             
 
            
           
            </div>
            <div class="col-md-6"></div>
          </div>
     </div>

</section>
<section class="contact"> <br><br>

  <h2><b>A propos de 5ademn.tn</b> </h2><br>
  <p> 
    khademni.tn est une application dédiée aux prestations de services à domicile .</p>
    <p>qui associe le travail independant à la demande locale , permettant aux consommateurs de trouver une aide immédiate pour les taches quotidiennes ,
    </p>
    <p> y compris la confiage d'enfants , aide à domicile pour les personnes âgées et bricolage -petits travaux .</p>
      
     <br><br>
      <div class="container">
        <div class="row">
          
          <div class="col-sm-8">  <h1>Made with ♡ in Tunis.</h1> </div> 
          <div class="col-sm-4">
            <span><i class="fa fa-facebook-official" aria-hidden="true"></i></span>
            <span> <i class="fa fa-instagram" aria-hidden="true"></i></span>
            <span > <i class="fa fa-linkedin-square" aria-hidden="true"></i> </span>
            
            
      </div>
      </div></div></section>
 
 
