<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="main1" id="sidebar-wrapper">
        <div class="sidebar-heading  py-4 primary-text fs-4 fw-bold  border-bottom" (click)="dashboard()"_>
            <i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</div> <br>
                <div class="list-group list-group-flush my-3">
                    
                    <a  class="list-group-item list-group-item-action  second-text fw-bold" (click)="dashservices()">
                        <i class="fa fa-pie-chart" aria-hidden="true" ></i> Services</a> <br><br>
                   
                    <a  class="list-group-item list-group-item-action second-text fw-bold" (click)="dashjobbeurs()">
                        <i class="fa fa-users" aria-hidden="true" ></i> Jobbeurs</a> <br> <br>
                    <a class="list-group-item list-group-item-action  second-text fw-bold" (click)="dashclients()">
                        <i class="fa fa-users" aria-hidden="true" ></i> Clients</a> <br> <br>
                    <a  class="list-group-item list-group-item-action  second-text fw-bold"  (click)="dashcontact()">
                        <i class="fa fa-envelope" aria-hidden="true"></i> Contact</a> <br> <br>
                  
                    <a class="list-group-item list-group-item-action  second-text fw-bold">
                        <i class="fa fa-power-off" aria-hidden="true"></i> Déconnexion</a>
                </div>
            </div>
    <!-- /#sidebar-wrapper -->
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light  ">
            <div class="d-flex align-items-center">
                <i class="fa fa-tachometer" aria-hidden="true"></i>
                <h2 class="fs-2 m-0"> Services</h2>
            </div>
</nav>

<div class="container-fluid px-4">
    <div class="main">
    <div class="row g-3 my-2">
        <div class="col-md-8 ">

    <h3 class="fs-4 mb-3">Services</h3>
    <div class="col">
        <table class="table  rounded1 shadow-sm  table-hover">
            <thead>
                <tr>
                    <th scope="col">Photo</th>
                    <th scope="col">Service</th>
                    <th scope="col">Catégorie</th>
               
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let service of servicesList">
                    <td><img src="{{service.image}}" width="100" class="user-img "></td>
                    <td>{{service.name}}</td>
                    <td>{{service.category}}</td>  
                    <td><i class="fa-solid fa-circle-xmark" (click)="deleteService(service.id)"></i></td>   
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="col-md-4 ">
    <h3 class="fs-4 mb-3">Ajouter services</h3>
    <div class="form-bg">
  
                    <div class="rounded2">
                        <br>
    <form class="form-horizontal" [formGroup]="serviceForm">
        <div class="form-group">
      <label for="selection">Catégorie</label> 
      <select id="selection" class="form-control" formControlName="category">
        
        <option value="Confiage d'enfants">Confiage d'enfants</option>
        <option value="Aide a domicile pour les personnes agees">Aide a domicile pour les personnes agees</option>
        <option value="Brcolage-petits travaux">Brcolage-petits travaux</option>
        </select>
       
        </div>
    
      

    <br>

      <!--p-->
          
          <div class="form-group">
              
            <label>Service</label>
            <input type="text" class="form-control" placeholder="Service" formControlName="name"  >
     </div> <br>
     <div class="form-group">
              
        <label>Photo</label>
         <input type="file" class="form-control" #image (change)="onImagePicked(image)" >
 </div>

 <br><br><br>
 <button  class="btn signup" (click)="addService()">
         
    Ajouter</button>
    </form>
</div>
      </div></div></div></div></div></div>

      
<!-- /#page-content-wrapper -->
